.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 3.5rem 1.25rem 1.25rem 1.25rem;
}

.layout-main {
  flex: 1 1 auto;
}

@media (max-width: 991px) {
  .layout-main-container {
    padding: 3.25rem 0.75rem 0.75rem 0.75rem;
  }
}
